# BEGIN: CODEX_DEV_REQUIREMENTS
black
isort
flake8
mypy
pytest>=8.0
pytest-randomly>=4.0
pytest-cov==7.0.0
bandit
defusedxml
semgrep
detect-secrets
pre-commit==4.0.1
nox==2025.5.1
yamllint
shellcheck-py
pip-audit
pandas
pyarrow
zstandard
mlflow>=2.4
# END: CODEX_DEV_REQUIREMENTS
